.view-browser {
    text-align: center;
  }

.view-h1{
    color: white;
}
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-item {
    margin: 10px;
  }
  
  .image-item img {
    max-width: 100%;
    height: auto;
    display: block;
  }